extends main
include mixins

block vars

block content
    div(ng-app='allcount', ng-controller='EntityViewController' ng-cloak)
        .container.screen-container(ng-controller='ForgotPasswordCtrl')
            +defaultCreateForm()(ng-show="true")
                +defaultFormTemplate()
            .form-group
                button.btn.btn-block.btn-default(lc-tooltip='Submit' ng-click='submitUsername()')
                    i(class='glyphicon glyphicon-ok')
            .form-group
                p.bg-success(ng-show='successMessage') {{successMessage}}
                p.bg-danger(ng-show='errorMessage') {{errorMessage}}
block js
    +entityJs()
    script.
        angular.module('allcount').controller('ForgotPasswordCtrl', ['$scope', 'lcApi', '$q', function ($scope, lcApi, $q) {
            $scope.submitUsername = function () {
                return $q.when($scope.viewState.createForm.entity().username).then(function (username) {
                    return lcApi.createEntity({entityTypeId: 'forgotPassword'}, {username: username});
                }).then(function (id) {
                    if (id) {
                        $scope.successMessage = 'Further instructions are sent';
                        delete $scope.errorMessage;
                    }
                }, function (err) {
                    if (err) {
                        delete $scope.successMessage;
                        $scope.errorMessage = err.data.username;
                    }
                });
            }
        }]);
