extends main
include mixins

block vars
    - var hasToolbar = true
block content
    .a-refresh-form-controller(ng-app='allcount', ng-controller='EntityViewController')
        +defaultToolbar()
        .container.screen-container(ng-cloak)
            +defaultGrid()
            +noEntries()
            +defaultEditAndCreateForms()
    script(src='/assets/js/views/entity.js')
