include main-mixins

block vars

doctype html
html
    +defaultHead()

    body(class=hasToolbar? 'has-toolbar' : '')
        +defaultNavBar()

        block content

        include core-scripts
        block js