extends main
include mixins

block vars
    - var hasToolbar = true
block content
    .a-refresh-form-controller(ng-app='allcount', ng-controller='TopEntityEditorController', ng-init="entityTypeId = '" + entityTypeId + "'")
        block formAndHeader
            .toolbar-header
                .container(ng-show="viewState.mode == 'form'"): .btn-toolbar
                    button.btn.btn-default.ng-cloak(ng-click='startEditing()', lc-tooltip="entity.edit", ng-hide='viewState.isFormEditing')
                        i.glyphicon.glyphicon-pencil
                    button.btn.btn-default.ng-cloak(ng-click='doneEditing()', lc-tooltip="entity.done", ng-show='viewState.isFormEditing')
                        i.glyphicon.glyphicon-ok
                    button.btn.btn-default.ng-cloak(ng-repeat='action in actions', ng-click='action.perform()', lc-actions='"' + entityTypeId + '"', action-target="'single-item'", on-refresh="refreshOnAction()", selected-items="[viewState.formEntityId]") {{action.name}}
            .container.screen-container(ng-cloak)
                +defaultEditAndCreateForms()

block js
    script(src='/assets/js/views/entity.js')
    script(src='/assets/js/views/generic/top-entity-editor.js')
